###################################################################
## Keep this include if you want to use the default configuration
## defined in the ci-template.yml in this directory.
###################################################################
include:
  - local: gitlab-ci/ci-template.yml

###########################################################################
## This file is the pipeline template that, when rendered, will
## set up your desired downstream pipeline.
## THESE JOBS AND STAGES SHOULD BE CUSTOMIZED TO YOUR USE CASE!
## Check out the `gitlab-ci/generate-pipeline.py` script for details on the
## values that are available to you (or that you can add).
## By default the `configs` variable as shown below is available at rendering.
###########################################################################

#############################
## Stages for this pipeline
#############################
stages:
  - stage1
  - stage2
  - stage3

##################################################
## Script to run before each job in this pipeline.
## Example could be running a helm command required
## for all jobs
##################################################
before_script:
  - echo "Run me before every job!"

#############################################################
## Update the logic as needed.
## By default, if `configs` is passed in when rendering,
## this will create a job1-X and job2-X job for each dir.
## It will also create one job3 as long as the `configs` is
## not empty. If empty, job1-none and job2-none are created.
## The parameters available to you are dependent on how you
## customize the generate-pipeline.py script.
#############################################################
{%- if configs is defined and configs|length %}
{% for config in configs %}
job1-{{ config }}:
  stage: stage1
  script:
    - make stage1 MY_INPUT={{ config }}
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: always
    - when: never
job2-{{ config }}:
  stage: stage2
  dependencies:
    - job1-{{ config }}
  script:
    - make stage2 MY_INPUT={{ config }}
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - when: manual
      allow_failure: true
{% endfor %}

#############################################################
## These jobs are created only once, if the configs value
## is defined and is not empty.
#############################################################
job3:
  stage: stage3
  script:
    - make stage3
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - when: manual
      allow_failure: true
{%- endif %}

###################################################
## These jobs are created only once, if configs
## is not passed at rendering or or is empty.
## Gitlab CI requires at least one job per pipeline,
## so at least one of these should be defined.
###################################################
{%- if not configs %}
job1-none:
  stage: stage1
  script:
    - echo "Nothing to do for stage1"
  rules:
    - if: '$CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH'
      when: always
    - when: never

job2-none:
  stage: stage2
  script:
    - echo "Nothing to do for stage2"
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      when: always
    - when: manual
      allow_failure: true
{%- endif %}
